In [1]:
import pandas as pan
import numpy as np

In [2]:
g1 = pan.read_csv("motsSeuls.csv", low_memory=False, names=["mot","interactions"])
g2 = pan.read_csv("bigrammes.csv", low_memory=False, names=["bigramme","interactions"])
g3 = pan.read_csv("trigrammes.csv", low_memory=False, names=["trigramme","interactions"])

In [3]:
g1

                    mot  interactions
0                moment        224233
1             tendresse        224233
2                  bébé        224233
3                  bébé        224233
4              apprenon        224233
...                 ...           ...
41234273        contenu             5
41234274   organisation             5
41234275      formation             5
41234276      formation             5
41234277  Certificative             5

[41234278 rows x 2 columns]

In [4]:
g2

                         bigramme  interactions
0                moment tendresse        224233
1                  tendresse bébé        224233
2                       bébé bébé        224233
3                   bébé apprenon        224233
4                apprenon changer        224233
...                           ...           ...
40107819         relation contenu             5
40107820     contenu organisation             5
40107821   organisation formation             5
40107822      formation formation             5
40107823  formation Certificative             5

[40107824 rows x 2 columns]

In [5]:
g3

                                  trigramme  interactions
0                     moment tendresse bébé        224233
1                       tendresse bébé bébé        224233
2                        bébé bébé apprenon        224233
3                     bébé apprenon changer        224233
4                   apprenon changer regard        224233
...                                     ...           ...
38981428     renseignement relation contenu             5
38981429      relation contenu organisation             5
38981430     contenu organisation formation             5
38981431   organisation formation formation             5
38981432  formation formation Certificative             5

[38981433 rows x 2 columns]

In [6]:
mots = g1.groupby("mot").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
mots.to_csv("bilan-motsseuls.csv")

In [7]:
bigrammes = g2.groupby("bigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
bigrammes.to_csv("bilan-bigrammes.csv")

In [8]:
trigrammes = g3.groupby("trigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
trigrammes.to_csv("bilan-trigrammes.csv")

In [2]:
### Tableaux croisés dynamiques avec listes par médias vs non-médias
pays = "belgique"

In [ ]:
g1_m = pan.read_csv("{}-motsSeuls-media-nettoye.csv".format(pays), low_memory=False, names=["mot","interactions"])
g1_nm = pan.read_csv("{}-motsSeuls-nonmedia-nettoye.csv".format(pays), low_memory=False, names=["mot","interactions"])
g2_m = pan.read_csv("{}-bigrammes-media-nettoye.csv".format(pays), low_memory=False, names=["bigramme","interactions"])
g2_nm = pan.read_csv("{}-bigrammes-nonmedia-nettoye.csv".format(pays), low_memory=False, names=["bigramme","interactions"])
g3_m = pan.read_csv("{}-trigrammes-media-nettoye.csv".format(pays), low_memory=False, names=["trigramme","interactions"])
g3_nm = pan.read_csv("{}-trigrammes-nonmedia-nettoye.csv".format(pays), low_memory=False, names=["trigramme","interactions"])

In [ ]:
mots_m = g1_m.groupby("mot").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
mots_nm = g1_nm.groupby("mot").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
bigrammes_m = g2_m.groupby("bigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
bigrammes_nm = g2_nm.groupby("bigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
trigrammes_m = g3_m.groupby("trigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)
trigrammes_nm = g3_nm.groupby("trigramme").interactions.agg([len, sum]).sort_values(by="sum", ascending=False).head(1000)

In [ ]:
mots_m.to_csv("{}-bilan-motsseuls-medias.csv".format(pays))
mots_nm.to_csv("{}-bilan-motsseuls-nonmedias.csv".format(pays))
bigrammes_m.to_csv("{}-bilan-bigrammes-medias.csv".format(pays))
bigrammes_nm.to_csv("{}-bilan-bigrammes-nonmedias.csv".format(pays))
trigrammes_m.to_csv("{}-bilan-trigrammes-medias.csv".format(pays))
trigrammes_nm.to_csv("{}-bilan-trigrammes-nonmedias.csv".format(pays))